.itemContainer {
    width: 100vw;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(242, 253, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20vh;
    border-radius: 5px;
}
.itemContainer:hover {
    background-color: rgb(172, 228, 238);
}
.button-block {
    margin-top : 10px;
}
.myBtn {
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.myBtn:first-child {
    background-color: rgb(53, 53, 170);
    color: white;
}
.myBtn:last-child {
    background-color: rgb(102, 31, 31);
    color: white;
}

.editForm{
    background-color: rgb(228, 228, 228);
    width: 100vw;
    margin-bottom: 10px;
    padding: 20px;
    height: 20vh;
}
.blockEditInput label {
    display: block;
}
.blockEditInput input {
    border-radius: 5px;
    width: 80%;
    border: 1px solid #ccc;
}
.submitButton {
    margin-top: 5px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(53, 53, 170);
    color: white;
}
@media screen and (min-width: 730px) {
    .itemContainer,.editForm {
        width: 730px;
    }
}