.itemContainer {
    width: 100vw;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f2fdff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.itemContainer:hover {
    background-color: rgb(223, 236, 238);
}
.button-block {
    margin-top : 10px;
    width: 100%;
    text-align: left;
}
.myBtn {
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.myBtn:first-child {
    background-color: rgb(53, 53, 170);
    color: white;
}
.myBtn:last-child {
    background-color: rgb(102, 31, 31);
    color: white;
}

.editForm{
    background-color: #f2fdff;
    width: 100vw;
    margin-bottom: 10px;
    padding: 20px;
    height: 20vh;
}
.blockEditInput label {
    display: block;
}
.blockEditInput input {
    border-radius: 5px;
    width: 80%;
    border: 1px solid #ccc;
}
.submitButton {
    margin-top: 5px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(53, 53, 170);
    color: white;
}

@media (min-width: 575px) {
    .itemContainer,.editForm {
        width: 570px;
    }
    .itemContainer {
        flex-direction: row;
        gap: 50px;     
    }
    .task-details {
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .button-block {
        margin-top : 10px;
        text-align: right;
    }
}
@media (max-width: 280px) {
    .itemContainer{
        justify-content: left;
        align-items: left;
    }
}
@media (min-width: 765px) {
    .task-details {
        width: 700px;
    }
    .itemContainer,.editForm {
        width: 730px;
    }
    .itemContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}